<h2>修改密码</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :电子邮箱 %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>现在等待确认: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :密码 %> <i>(如果你不想修改密码的话，这里留白)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>至少输入<%= @minimum_password_length %>个字符</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :确认密码 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :原密码 %> <i>(我们需要您输入原来的密码来验证您的身份)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "修改密码" %>
  </div>
<% end %>

<h3>销毁我的帐户</h3>

<p>在这里感到不开心? <%= button_to "销毁我的帐户", registration_path(resource_name), data: { confirm: "真的要销毁账户吗？您将失去这个账户很久（真的很久！）" }, method: :delete %></p>

<%= link_to "返回", :back %>
