<p id="notice"><%= notice %></p>

<div class="list">
  <div class="ui center aligned container">
    <table class="ui inverted teal table">
      <thead>
        <tr>
          <th>活动标题</th>
          <th id = "hide_content">活动内容</th>
          <th>活动日期</th>
          <th>发起人</th>
          <th>活动请假</th>
          <% if current_user.admin? %>
          <th>编辑活动</th>
          <th>删除活动</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.title %></td>
          <td style="color: red" id = "hide_content"><%= activity.content.gsub(/\n/,'</br>').html_safe %></td>
          <td><%= activity.date.strftime('%Y-%m-%d %H:%M') %></td>
          <td><%= activity.originator %></td>
          <td><%= link_to '活动请假', activity %></td>
          <% if current_user.admin? %>
          <td><%= link_to '编辑活动', edit_activity_path(activity) %></td>
          <td><%= link_to '删除活动', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="bottom" style = "position: relative; top: 180px; left: 100px">
    <% if current_user.admin? %>
    <%= link_to '新建活动', new_activity_path %> |
    <%= link_to '查看请假原因', reasons_path%>
    <% end %>
</div>
<button id = "content" style = "background-color: #357ebd; color: white; border-radius: 10px;border: 1px solid transparent; position: relative; top: 146px; left: 900px">query conent</button>
