<p id="notice"><%= notice %></p>

<p>
  <strong>活动标题:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>活动内容:</strong>
  <%= @activity.content %>
</p>

<p>
  <strong>活动时间:</strong>
  <%= @activity.date.strftime('%Y-%m-%d %H:%M') %>
</p>

<p>
  <strong>发起人:</strong>
  <%= @activity.originator %>
</p>
<% if current_user.admin? %>
<%= link_to '编辑活动', edit_activity_path(@activity) %> |
<% end %>
<%# if current_user.menber? and (@time - @activity.date.ago(1.day) < 0) %>
<% if (@time - @activity.date.ago(1.day) < 0) %>
<h2> 想要请假吗? </h2>
<%= form_for([@activity, @activity.reasons.build]) do |f| %>
  <p>
    <%= f.label :姓名 %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :请假原因 %><br>
    <%= f.text_area :why %>
  </p>
  <p>
    <%= f.submit '提出请假'%>
  </p>
<% end %>

<% end %>
<%= link_to '返回主页', activities_path %>
