<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @reason.name %>
</p>

<p>
  <strong>请假原因:</strong>
  <%= @reason.why %>
</p>

<p>
  <strong>活动名称:</strong>
  <%= @reason.activity.title %>
</p>

<%= link_to '编辑(有Bug)', edit_activity_reason_path(@reason.activity,@reason) %> |
<%= link_to '返回', reasons_path %>
